/* HTML*/
body {
  -webkit-font-smoothing: antialiased;
}

/* SVG */

.svg-wrapper {
    position: relative;
}

.svg-icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 10px;
	margin-bottom: 3px;
    display: inline-block;
    position: relative;
}

.svg-plus-icon {
    width: 18px;
    height: 18px;
    position: relative;
    display: inline-block;
}

.svg-missing-icon {
    width: 64px;
    height: 64px;
	fill: #595663;
	text-align: center;
}

/* SVG - COLORS */


svg.svg-white path {
    fill: #ffffff;
}

svg.svg-grey path {
    fill: #676573;
}

svg.svg-green path {
	fill: #56b9a4;
}

svg.svg-blue path {
	fill: #00a9d0;
}

svg.svg-red path {
	fill: #ea5c42;
}

svg.svg-purple path {
	fill: #a156b9;
}

/* LOGOs */
.appear {
  position: relative;
  top: 20px;
  margin-left: 20px;
  text-align: left;
}

/* BUTTONS */

.button-grey {
    min-width: 150px;
    max-width: 450px;
    background: none;
    vertical-align: middle;
    z-index: 1;
    cursor: pointer;
    border: 2px solid;
    border-radius: 40px;
    padding: 0.5em 1.6em;
    position: relative; 
}

.button-grey-filled {
    min-width: 150px;
    max-width: 450px;
    background: #676573;
    vertical-align: middle;
    z-index: 1;
    cursor: pointer;
    border: 2px solid;
    border-radius: 40px;
    padding: 0.5em 1.6em;
    position: relative;
}

.button-grey-text {
    font-family: 'Roboto';
    font-weight: 800; 
    color: #676573;
    font-size: 13px;
    text-transform: uppercase;
}

.button-white {
    min-width: 150px;
    max-width: 450px;
    background: none;
    vertical-align: middle;
    z-index: 1;
    cursor: pointer;
    border: 2px solid;
    border-radius: 40px;
    padding: 0.5em 1.6em;
    position: relative;
    
}

.button-white-text {
    font-family: 'Roboto';
    font-weight: 800; 
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
}


/* SECTIONS */

.section {
  line-height: 2em;
  text-align: center;
  border: 2px solid #676573;
  border-radius: 4px;
  height: 98vh;
}
.opener {
  display: table;
  height: 100%;
  margin: 0 auto;
}
.opener-text {
  display: table-cell;
  vertical-align: middle;
  width: 800px;
}
.opener-txt {
  margin: 20px 0;
}
.section1 {
  margin-top: 10px;
	background-color: #f3f2f7;
}

.section2 {
  margin-top: 40px;
	background-color: #f3f2f7;
}

.section3 {
  margin-top: 40px;
	background-color: #56b9a4;

}

.section4 {
  margin-top: 40px;
  background-color: #f3f2f7;
}

.section5 {
  margin-top: 40px;
  background-color: #2a3034;
}

/* CREW */

.crewmembers {
margin-top: 50px;
}

.crew-name {
  font-size: 36px;
  color: #595663;
  font-weight: 700;
  text-align: center;
}

.crew-name-light {
  font-size: 36px;
  color: #595663;
  font-weight: 100; 
  padding-top: 10px;
  text-align: center;
}

.crew-jobtitle {
  font-size: 14px;
  font-weight: 700; 
  padding-top: 15px;
  text-transform: uppercase;
  text-align: center;
}

.crew-missing {
  font-size: 28px;
  color: #595663;
  font-weight: 700;
  text-align: center;
}

.crew-missing-light {
  font-size: 16px;
  color: #595663;
  font-weight: 300;
  text-align: center;
}

.crewbox {
  border: 2px #8A969C solid;
  height: 25rem;
  width: 40rem;
  margin-left: 6rem;
  border-radius: 2px;
  text-align: left;  
  padding-left: 30px;
  padding-top: 20px;
}

.left {
  width: 50%;
  float: left;
  
}
.right {
  width: 50%;
  float: right;
}

/* PROFILE */

.profile-icon {
  padding-right: 15px;
}

.profile-left { /*MIght need to be removed*/
  margin-top: 120px;
  padding-left: 100px;
}

.profile-right {
  margin-top: 150px;
  padding-left: 100px;
  
}

#profile-nomargin {
  margin-top: 20px;
}

.profile-name {
  font-size: 60px;
  color: white;
  font-weight: 700;
  text-align: left;
}

.profile-name-light {
  font-weight: 100;
}

.profile-title {
  font-size: 24px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  text-align: left;
  padding-top: 30px;
}

.profile-mission {
  font-size: 16px;
  color: white; 
  font-weight: 400;
  text-align: left;
  padding-top: 30px;
}

.profile-links {
  color: white;
  text-align: left;
  padding-top: 30px;
}

.profile-content {
  padding-top: 30px;
}

.profile-content-text {
  font-size: 14px;
  color: white;
  text-align: left;
}

.left p, .right p {
  text-transform: uppercase;
  font-size: 48px;
  color: white;
  text-align: left;
  font-weight: 900;
  line-height: 36px;
}
.left p:first-child, .right p:first-child {
  margin-top: 25px;
}

.profile-sep, .profile-sep2 {
  border-top: 2px solid white;
  width: 75px;
  float: left;
}
#profilesep2 {
  float: left;
}

.profilebox {
  margin-left: 10px;
  border: 2px white solid;
  height: 150px;
  width: 150px;
  border-radius: 2px;
  text-align: left;
  padding-left: 30px;
  padding-top: 20px;
  font-size: 20px;
  color:white;
}

.txtbottom {
  position: relative;
  bottom: -50px;
  color:white;
  font-weight: 500;
  font-size: 18px;
}

/* RESOURCES */


#profilesep3 {
  border-color: #676573 ;
}

.res-txt p {
  color: #676573 ;
  text-align: left;
  padding-bottom: 5px;
}
.res-category {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.res-title {
  font-size: 52px;
  font-weight: 900;
}

.res-desc {
  color: #595663;
  font-size: 15px;
  font-weight: 400;
  padding-top: 10px;
}

.res-buttons {
  float: left;
  padding-top: 10px;
}

.res-splash {
  padding-left: 50px;
}

.res-boxes {
  margin-top: 50px;
}

.resourcebox {
  border: 2px #8A969C solid;
  height: 150px;
  width: 350px;
  margin-left: 65px;
  border-radius: 2px;
  text-align: left;  
  float:left;
  padding-left: 30px;
  padding-top: 20px;
}

.res-txtbottom {
  position: relative;
  bottom: -25px;
  font-weight: 500;
  font-size: 20px;
}

.res-txtbottom-light {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
}

/* FONTS */

*, h1, h2, h3, h4, h5, h6, p {
	font-family: 'Roboto', sans-serif;
}

p {
  font-size: 16px;
  font-weight: 300;
}

h1 {
  font-size: 72px;
  font-weight: bold;
}

h2 {
  font-size: 42px;
  font-family: 'Roboto';
  font-weight: 700;
}
.xh2-light {
  font-weight: 100;
}

h4 {
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 400;
}

.xh4-opacity {
  opacity: 0.5;
}

.grey {
  color: #595663;
}

.white {
  color: #fff;
}

.green {
  color: #56b9a4;
}

.blue {
  color: #00a9d0;
}

.red {
  color: #ea5c42;
}

.purple {
  color: #a156b9;
}

.heavy {
    font-weight: 700;
    font-size: 18px;
    font-family: 'Roboto';
}
.smalllogomargin {
  margin-left: 60px;

}

.smalllogotext {
  line-height: 0px;
  font-size: 10px;
}