/* HTML*/
body {

}

/* SVG */

.svg-wrapper{
    position: relative;
}

.svg-icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 6px;
    display: inline-block;
    position: relative;
}

/* LOGOs */
.appear {
  position: relative;
  top: 20px;
  margin-left: 20px;
  text-align: left;
}

/* BUTTONS */

.button-white {
    min-width: 150px;
    max-width: 450px;
    background: none;
    vertical-align: middle;
    z-index: 1;
    cursor: pointer;
    border: 2px solid;
    border-radius: 40px;
    padding: 0.8em 2em;
    position: relative;
    
}

.button-white-text {
    font-family: 'Roboto';
    font-weight: 800; 
    color: #676573;
    font-size: 13px;
    text-transform: uppercase;
}

/* SECTIONS */

.section {
  line-height: 2em;
  text-align: center;
  border: 2px solid #676573;
  border-radius: 4px;
  height: 98vh;
}
.opener {
  display: table;
  height: 100%;
}
.opener-text {
  display: table-cell;
  vertical-align: middle;
}
.opener-txt {
  margin: 20px 0;
}
.section1 {
  margin-top: 10px;
	background-color: #f3f2f7;
}

.section2 {
  margin-top: 40px;
	background-color: #f3f2f7;
}

.section3 {
  margin-top: 40px;
	background-color: #56b9a4;

}

.section4 {
  margin-top: 40px;
  background-color: #56b9a4;
}

.section5 {
  margin-top: 40px;
  background-color: #2a3034;
}


/* FONTS */

h1, h2, h3, h4, h5, h6, p {
	font-family: 'Roboto', sans-serif;
}

p {
  font-size: 16px;
  font-weight: 300;
}

h1 {
  font-size: 72px;
  font-family: 'Roboto';
  font-weight: bold;
}

h2 {
  font-size: 38px;
  font-family: 'Roboto';
  font-weight: 900;
}
.xh2-light {
  font-weight: 100;
}
.grey {
  color: #595663;
}

.heavy {
    font-weight: 700;
    font-size: 18px;
    font-family: 'Roboto';
}
.smalllogomargin {
  margin-left: 60px;

}

.smalllogotext {
  line-height: 0px;
  font-size: 10px;
}